<!-- <!DOCTYPE html>
<html>
  <head>
    <title>FindReplace!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/Content/css/styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <h1>Welcome to Find and replace!</h1>
    <h4>Fill in the fields below and we will retun your original sentance with your choice of word:</h4>

    <form action="/" method="post">
      <label for="phrase">Input your phrase here</label>
      <input type="text" name="phrase" placeholder="hello world">
      <br></br>
      <label for="replace">Input the word to be replaced here</label>
      <input type="text" name="replace" placeholder="world">
      <br></br>
      <label for="with-this">Input your new word here</label>
      <input type="text" name="with-this" placeholder="universe">
      <br></br>
      <button type="submit" name="button" class="btn btn-primary">Get your results here!</button>
    </form>
  </body>
</html> -->
