<!DOCTYPE html>
<html>
  <head>
    <title>FindReplace!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to Find and replace!</h1>
    <h4>Fill in the fields below and we will retun your original sentance with your choice of word:</h4>

    <form action="/" method="post">
      <label for="phrase">Input your phrase here</label>
      <input type="text" name="phrase">
      <br></br>
      <label for="replace">Input the word to be replaced here</label>
      <input type="text" name="replace">
      <br></br>
      <label for="with-this">Input your new word here</label>
      <input type="text" name="with-this">
      <br></br>
      <button type="submit" name="button">Get your results here!</button>
    </form>
  </body>
</html>
