<h1>Here are your results:</h1>

<p> Your initial phrase is: @Model.GetInput1() </p>
<p>The word to be replaced is: @Model.GetInput2()</p>
<p>You replaced that word with: @Model.GetInput3()</p>
<p>Your final phrase is:@Model.Result() </p>
