<!DOCTYPE html>
<html>
  <head>
    <title>FindReplace!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/Content/css/styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
  <h1>Here are your results:</h1>

<p> Your initial phrase is: @Model.GetInput1() </p>
<p>The word to be replaced is: @Model.GetInput2()</p>
<p>You replaced that word with: @Model.GetInput3()</p>
<p>Your final phrase is:@Model.Result() </p>
</body>
</html>
