body {
 background-color: lightgrey;
 margin-right: 20px;
}

h1 {
  text-align: center;
  font-family: monospace;
}

input, label {
  display: inline-block;
}
label {
  width: 29%;
}
input {
  width: 40%;
  margin:5px 0;
}

form, h4, p {
   margin-left: 20px;
   font-family: monospace;
}

.output {
  font-weight: bold;
  font-family: monospace;
}
